node_modules/
.next/
out/
build/

# database
data/*
!data/.gitkeep
*.db
*.db-journal

# uploads
storage/uploads/*
!storage/uploads/.gitkeep

# env
.env
.env.local

# misc
.DS_Store
*.log
npm-debug.log*
